
{% extends "templates/base.html" %}

{% block content %} 
  <div class='mainbody'>
    <div class='container-fluid'>
      <div class='row'>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 portrait">
          <img src="../static/img/myselfie.jpg" alt = "my selfie">
        </div>
        <div class='introduction col-xs-12 col-sm-6 col-md-6 col-lg-5'>
         <h2>Hi there!</h2><br>
         <h3>I'm Fernando Wang, a second year undergraduate student from School of information, University of Michigan, Ann Arbor. I graduated from Cerritos High School in California. I am passionate about flying, and my goal is to get my private licence by the end of this year. <br><br>As an aspiring UX designer with a strong passion in airlines/hotel industry, I strive to solve interface issues in intuitive, accessible ways - allowing my work to be easily incorporated into people's lives. </h3>
       </div>
     </div>
   </div>
   <div id="education">
          <div class="container">
              <div class="col-xs-12 text-center">
                  <h2>Education</h2>
              </div>
              <div class="col-sm-6 ed">
                  <img src="../static/img/hslogo.jpg" alt = "Cerritos HS Logo">
                  <p>Cerritos High School, California</p>

              </div>
              <div class="col-sm-6 ed">
                  <img src="../static/img/umichlogo.jpg" alt = "Umich Logo">
                  <p>Umich, USA</p>
                  <p>Bachelor Science of Information</p>
                  <p>User Experience Design</p>
              </div>
          </div>
      </div>

 </div>
{%endblock%}