
{%extends "templates/base.html" %}

{% block content %}

<div class="container-fluid">
	<div class="row-fluid" id="contact1">
		<p id = "content1">
			<h2>LivWel</h2>

			<img id = "mapa" src="../static/img/livwel.jpg" alt = "livwel logo">
			<p>LivWel is a community engagement platform to help people who have HIV/AIDs discover and connect the wellness around them. We first went to Detroit HIV support center, and interviewed 12 people who are suffering from HIV or know someone who is suffering from it. After we gathered the feedbacks, we brainstormed several ideas based on the user research for deciding the main features of the website. We wanted to incorporate the idea of community support on this website. Our respondents were a part of the research process at every stage. Upon request, we made some med-fi prototypes to better understand the flow of the application. Our target users then tested these paper prototypes and provided useful feedback. We iterated on our prototype based on feedback from user tests and came up with hi-fi prototype at the end. </p>

	</div>

	<div class="row-fluid" id="contact2">
		<p id = "content2">
			<h2>Pizza Hut</h2>

			<img id = "mapb" src="../static/img/pizzahut.jpg" alt = "pizzahut logo">
			<p>This is the on-going project my team and I are working on now. The goal for this project is to reduce number of clicks during the pizza customization process. First, we did focus interview just to find out some common pizza ordering behavior. Then, each of us did some sketch based on our experiences with different pizza ordering app. Currently, we are in the process of creating med-fi digital prototype. We are planning on doing some user testing through InVision once we finish creating them. </p>

	</div>


	<div class="row-fluid" id="contact3">
		<p id = "content3">
			<h2>Cricket</h2>

			<img id = "mapc" src="../static/img/criket.jpg" alt = "criket logo">
			<p> This is the gaming app we did for this start up company in Chicago. The founder was an Umich alum, and he reached out to us in the summer. When the founder came to my team, he brought two versions of the application. We recruited people from the local cricket club, and performed AB testing. In the end, we picked one version that we thought is the best, and modified/fixed some user interface issues.  </p>

	</div>



</div>	

	{% endblock %}